<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | LearnFinity</title>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="styleSheet" href="contact.css">
</head>
<body>
    {{>nav}}
    <section id="full">
        <div class="block">
           <h3>Feel free to contact us!</h3>
           <img src="logo.png">
           <div class="icons">
            <a href="https://www.instagram.com/tusharora___/" target="__blank" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-facebook" alt="__target" ></a>
            <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Flogin" target="__blank"  class="fa fa-twitter"></a>
            <a href="" class="fa fa-github" target="_blank" ></a>
            
           </div>
        </div>
    </section>
    {{>footer}}
</body>
</html>