<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learnfinity</title>
    <link rel="styleSheet" href="home.css">
    
   

</head>

<body>
    {{>nav}}
    {{!-- <nav>
        <section id="nav" class="flex">
            <div class="left flex">
                <a href="#"><i class="fa fa-home"></i></a>
            </div>
            <div class="middle ">
                <ul class="flex ">
                    <li><a href="/vlsi">VLSI</a></li>
                    <li><a href="/8086">8086</a></li>
                    <li><a href="/DSD">DSD</a></li>
                    <li><a href="/verilog">Verilog</a></li>

                </ul>
            </div>
            <div class="right">
                <input type="search" name="search" id="search1">
                <label for="search1"><i class="fa fa-search"></i></label>

            </div>

        </section>
    </nav> --}}
    <section class="third">
    <div class="thirdsub">
      <b><h1>Welcome to LearnFinity</h1></b>
      <p>Discover your perfect learning path with Learnfinity! Navigate through our diverse selection of courses and let us guide you to the ideal one that matches your interests and aspirations. Start your educational journey today and unlock a world of knowledge tailored just for you.</p>
      </div>
    </section>
    <section class="fourth">
        <div class="fourthsub1">
        <h1>Recommended Courses</h1>
        </div>
        <div class="fourthsub2">
        <div class="fourthsub3">
            <img src="verolog.png">
             <h3>Verilog TUTORIAL</h3>
             <p>Verilog is a Hardware Description Language; a textual format for describing electronic circuits and systems.Applied to electronic design, Verilog is intended to be used for verification through simulation, for timing analysis.</p>
             <a href="https://www.youtube.com/watch?v=jvbnKrIQpwo&list=PLEdaowO6UzNEHgNZ-ApqLiiV3XZjuNzpE" target="__blank"><input type="button" name="pcb" id="pcb" value="Start Watching"></a>
        </div>
    
        <div class="fourthsub3">
            <img src="pcb2.png">
             <h3>PCB Tutorial</h3>
             <p>A printed circuit board, or PC board, or PCB, is a non-conductive material with conductive lines printed or etched. Electronic components are mounted on the board and the traces connect the components together to form a working circuit or assembly.</p> 
             <a href="https://www.youtube.com/watch?v=4mewixM67Uc&list=PLSLZd4oi2O9rOSAuj0GvXGAa4D9ezeEVM" target="__blank">
             <input type="button" name="pcb" id="pcb" value="Start Watching"></a>
        </div>
        <div class="fourthsub3">
            <img src="Arduino.png">
             <h3>Arduino Tutorial </h3>
             <p>Arduino is an open-source hardware and software company, project, and user community that designs and manufactures single-board microcontrollers and microcontroller kits for building digital devices.</p>
             <a href="https://www.youtube.com/watch?v=PzJayPUPV6A&list=PLV3C-t_tgjGFyXP_-AF37AoIuxM9jzELM" target="__blank"><input type="button" name="pcb" id="pcb" value="Start Watching"></a>
        </div>
        </div>
       
    </section>
    {{>footer}}
</body>

</html>