<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes | LearnFinity</title>
    <link rel="stylesheet" href="notes.css">
</head>
<body>
    {{>nav}}
    <section id="coursework">
        <div class="h11">
        <h1>Download Notes by Learnfinity</h1>
        </div>
        <div id="courseworksub">
            <div class="courses">
                <img src="DSD.png">
                <h3>Digital System Design</h3>
                <p>Download Notes Here</p>
                 <a href="https://www.youtube.com/watch?v=jZLHZcyQmJI&list=PL0c0N7xv8s06alYrdpsYjGXBs1IqIU8QS" target="__blank">PDF Notes</a>
            </div>
                <div class="courses">
                    <img src="cs.jpg">
                    <h3>Control System</h3>
                    <p>Download Notes Here</p>
                    <a href="https://www.youtube.com/watch?v=jZLHZcyQmJI&list=PL0c0N7xv8s06alYrdpsYjGXBs1IqIU8QS" target="__blank">PDF Notes</a> 
                </div>
                 <div class="courses">
                    <img src="ss.jpg">
                    <h3>Signal And System</h3>
                    <p>Download Notes Here</p>
                    <a href="https://www.youtube.com/watch?v=s8rsR_TStaA&list=PLBlnK6fEyqRhG6s3jYIU48CqsT5cyiDTO" target="__blank">PDF Notes</a> 
                </div>
                <div class="courses">
                    <img src="verilog3.jpg">
                    <h3>Verilog Based DSD</h3>
                    <p>Download Notes Here</p>
                    <a href="https://www.youtube.com/watch?v=NCrlyaXMAn8&list=PLJ5C_6qdAvBELELTSPgzYkQg3HgclQh-5"target="__blank">PDF Notes</a>
                </div>
                <div class="courses">
                    <img src="vlsi.jpg">
                    <h3>VLSI</h3>
                    <p>Download Notes Here</p>
                    <a href="https://www.youtube.com/watch?v=jY9WLNo7S3s&list=PLMykC29oDpCJ4bWLv0fBwTzateeIgUEbF" target="__blank">PDF Notes</a>
                </div>
                <div class="courses">
                    <img src="mems.jpg">
                    <h3>M.E.M.s</h3>
                    <p>Download Notes Here</p>
                    <a href="https://www.youtube.com/watch?v=lNeBjN-bW7s&list=PLZGOkwzhcgeRsh8GdlbRDgX3E1oqGLTPx" target="__blank">PDF Notes</a>
                </div> 
            </div>
        </div>
    </section>
    {{>footer}}
</body>
</html>