<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work With US | LearnFinity</title>
    <link rel="styleSheet" href="workwithus.css">
</head>
<body>
    {{>nav}}
    <section id="workwithus">
        <div id="workwithusformsub">
            <img src="logo.png">
            <h3>Welcome To LearnFinity.com</h3>
            <form action="/thanks" method="POST" class="workwithus">
                <label for="fullname">Full Name</label>
                <input type="name" id="fullname" name="wname">
                <label for="email">Email Address</label>
                <input type="email" id="email " name="wemail">
                <label for="phone">Phone No.</label>
                <input type="number" id="phone" name="wphone">
                <label for="resume">Link to Your Resume</label>
                <input type="url" id="resume" name="wurl">
                
                <input type="submit" class="btn2" value="Submit">
                <div class="h66">
                <h6>We will be in touch soon!</h6>
                </div>
            </form>
        </div>
    </section>
    {{>footer}}
</body>
</html>