<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Document</title>
    <link rel="styleSheet" href="footer.css">
    
</head>

<body>
    <footer >
        <div class="leftf">
            <img src="logo.png">
            <h3>Course with Tushar</h3>
            <h6> | Copyright © 2023 LearnFinity.com</h5>
        <div class="rightf">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/tusharora___/" class="fa fa-instagram"></a>
            <a href="" class="fa fa-github"></a>
        </div>
    </footer>
</body>

</html>