<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="styleSheet" href="home.css">
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="top">
        <section class="st flex">
            <div class="left flex">
                <img src="logo.png" alt="LOGO">
            </div>
            <div class="middle">
                <ul class="middle flex">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Courses</a></li>
                    <li><a href="/notes">Notes</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/workwithus">Work With Us</a></li>
                </ul>

            </div>
            <div class="right">
                <ul class="right1 flex">
                    <div class="login1">
                        <a href="/login"><li><input type="button" id="login" class="btn" value="Login"></li></a>
                    </div>
                    <div class="signup1">
                        <a href="/signup"><li><input type="button" id="Signup" class="btn" value="Signup"></li></a>
                    </div>
                </ul>
            </div>

    </header>
</body>

</html>